@import "../../Styles/_helpers.scss";

.offset {
    height: 150.43px;
    width: 100%;
    pointer-events: none;
    background: transparent;

    @media (max-width: $maxWidthMedia) {
        @include adaptiv("height", 60, 150.43);
    }
}

.wrapper {
    max-width: $wrapperSize;
    width: 100%;
    margin: 0 auto;
    padding: 60px 53.57px 40px 55.43px;
    border-radius: 7.143px;
    background: $white;

    @media (max-width: 768px) {
        background: transparent;
        padding: 0px;
    }

    .title {
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        margin-bottom: 57.43px;
        color: $blackNum;

        @media (max-width: 500px) {
            margin-bottom: 40px;
            font-size: 20px;
            max-width: 146px;
            font-weight: 600;
        }
    }

    .wrapperContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 1096px) {
            align-items: flex-start;
        }

        .container {
            flex: 0 0 604.286px;
            height: 365px;
            position: relative;

            @media (max-width: 1096px) {
                flex: 0 0 404.286px;
                height: 244.185px;
            }

            @media (max-width: 869px) {
                flex: 0 0 364.286px;
                height: 220.010px;
            }

            @media (max-width: 768px) {
                display: none;
            }

            .computer {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            .screen {
                left: 18.35%;
                top: 6.515%;
                position: absolute;
                object-fit: cover;
                width: 65%;
                height: 68.101%;
            }
        }

        .steps {

            .item {
                position: relative;
                display: flex;
                align-items: flex-start;
                gap: 17.14px;

                &:not(:last-child) {
                    padding-bottom: 45.71px;
                }

                .line {
                    position: absolute;
                    height: 100%;
                    width: 2px;
                    background: darken(#F5F5F5, 15);
                    top: 0px;
                    left: 22.5px;
                    z-index: 1;

                    @media (max-width: 768px) {
                        background: $black;
                    }

                    @media (max-width: 500px) {
                        left: 17px;
                    }
                }

                .number {
                    color: $black;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    height: 45px;
                    flex: 0 0 45px;
                    background: #F5F5F5;
                    position: relative;
                    z-index: 2;

                    @media (max-width: 768px) {
                        background: $black;
                        color: $white;
                    }

                    @media (max-width: 500px) {
                        flex: 0 0 34px;
                        height: 34px;
                    }
                }

                .content {

                    @media (max-width: 500px) {
                        padding-top: 6px;
                    }

                    .title {
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 110%;
                        color: $blackNum;
                        margin-bottom: 9px;

                        @media (max-width: 768px) {
                            font-size: 20px;
                            margin-bottom: 10px;
                        }
                    }

                    .text {
                        color: $gray;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 110%;

                        @media (max-width: 768px) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

}

