@import "../../Styles/_helpers.scss";

.offset {
    height: 149.57px;
    width: 100%;
    pointer-events: none;
    background: transparent;

    @media (max-width: $maxWidthMedia) {
        @include adaptiv("height", 60, 149.57);
    }
}

.wraper {
    max-width: $wrapperSize;
    width: 100%;
    margin: 0 auto;

    .title {
        margin-bottom: 82.53px;
        text-align: center;
        color: $blackNum;
        font-size: 39.474px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;

        @media (max-width: 768px) {
            margin-bottom: 19px;
            font-weight: 600;
            font-size: 20px;
            text-align: left;
        }
    }

    .spoilers {
        width: 100%;
        margin-bottom: 50.53px;
        padding: 0px 25.26px;

        @media (max-width: 768px) {
            margin-bottom: 40px;
            padding: 0px;
        }

        .item {
            width: 100%;
            border-bottom: 1px solid #D2D2D2;

            @media (max-width: 768px) {
                background: $white;
                border-bottom: none;
                border-radius: 10px;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }

            .content {
                min-width: 100%;
                background: transparent;
                display: flex;
                border: none;
                justify-content: space-between;
                align-items: flex-start;
                padding: 31px 0px;

                @media (max-width: 768px) {
                    padding: 20px 15px;
                    align-items: center;
                    gap: 20px;
                }

                .title {
                    color: $blackNum;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 110%;
                    margin-bottom: 0px;

                    @media (max-width: 768px) {
                        font-size: 15px;
                        text-align: left;
                    }
                }

                .img {
                    flex: 0 0 26px;
                    height: 26px;
                    border-radius: 50%;
                    background: $white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    margin-bottom: 0px;
                    transition: all .2s ease;

                    @media (max-width: 768px) {
                        background: #F5F5F5;
                    }

                    &.active {
                        transform: rotate(45deg);
                        transition: all .2s ease;
                    }

                    img {
                        width: 18px;
                        height: 18px;
                    }
                }

            }

            .text {
                max-width: 1070px;
                width: 100%;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                color: $blackNum;
                overflow: hidden;
                box-sizing: content-box;
                transition: all .3s ease;

                @media (max-width: 768px) {
                    font-size: 15px;
                    padding: 0px 15px;
                    max-width: calc(100% - 33px);
                }

                &.active {
                    padding-bottom: 16px;
                    transition: all .3s ease;
                }
            }

        }
    }

    .action {
        max-width: 333px;
        margin: 0 auto;
        text-align: center;

        @media (max-width: 768px) {
            max-width: 100%;
            @include center();
        }

        .title {
            text-align: center;
            margin-bottom: 18px;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            color: $blackNum;

            @media (max-width: 768px) {
                display: none;
            }
        }

        .btn {
            padding: 14px 18px;
            background: $blackNum;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            color: $white;
            border-radius: 66.316px;
            border: none;
            transition: all .2s ease;
            display: inline-block;

            @media (max-width: 768px) {
                display: none;
            }

            &:hover {
                background: lighten($blackNum, 10);
                transition: all .2s ease;
            }
        }

        .btnMobile {
            padding: 18px 24px;
            background: $blackNum;
            color: $white;
            border-radius: 9999px;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: none;
            border: none;

            @media (max-width: 768px) {
                display: block;
                flex: 0 1 320px;
            }
        }
    }

}
