
$sfDisplay: 'SF Pro Display', sans-serif;
$sfText: "SF Pro Text", sans-serif;
$inter: 'Inter', sans-serif;

$bgColor: #F5F5F5;
$black: #000;
$white: #fff;
$blackNum: #191919;
$gray: #868686;
$wrapperSize: 1200px;