@import "../../Styles/_helpers.scss";

.wrapper {
    max-width: $wrapperSize;
    width: 100%;
    border-radius: 7.143px;
    background: $white;
    padding: 45px 57px;
    padding-bottom: 123.71px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: 47px;

    .content {

        .title {
            max-width: 400px;
            font-size: 34.286px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%;
            color: $blackNum;
            margin-bottom: 17px;
        }

        .text {
            max-width: 488px;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: $gray;
            margin-bottom: 75.43px;
        }

        .link {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-align: center;
            color: $white;
            padding: 13px 17px;
            border-radius: 60px;
            background: $blackNum;
            transition: all .2s ease;

            &:hover {
                background: lighten($blackNum, 20);
                transition: all .2s ease;
            }
        }
    }

    .image {
        position: absolute;
        width: 684.785px;
        height: 370.571px;
        flex-shrink: 0;
        right: 0px;
        bottom: 0px;
        pointer-events: none;
        touch-action: none;
        user-select: none;
    }

    .line {
        display: flex;
        position: absolute;
        gap: 34.29px;
        left: -20px;
        bottom: 30.14px;

        .outline {
            text-shadow: 1px 0 $gray, 0 -1px $gray, -1px 0 $gray, 0 1px $gray;
            pointer-events: none;
            font-size: 68.571px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: $white;
            touch-action: none;
            user-select: none;
            text-transform: uppercase;
        }
    }
}